%table.table.table-striped.table-condensed.table-bordered
  %tbody
    %tr
      %th Host
      %th User
      %th Command Name
      %th Command
      %th Status
      %th Status Code
      %th Executed
      %th Log
    - @old_command.each do |cmd|
      %tr
        %td
          - cmd.hosts.each do |h|
            = link_to h.name, h
          - cmd.hosts_ip.each do |h|
            = h
        %td
          - if cmd.current_user
            = link_to cmd.current_user.login, cmd.current_user
          - else
            [unknown]
        %td
          - if cmd.command
            = link_to cmd.command.name, command_path(cmd.command.id)
          - else
            = cmd.script
        %td
          %center
            %code= cmd.script
        %td
          %center
            %span.label.label-info= cmd.status
        %td
          %center
            - if cmd.status_code.nil?
              %span.badge.badge= '-'
            - elsif cmd.status_code == 0
              %span.badge.badge= cmd.status_code
            - elsif cmd.status_code > 0
              %span.badge.badge-warning= cmd.status_code
        %td
          %center
            = cmd.time
        %td
          %div.modal.hide{:id => "log#{cmd.id}"}
            %div.modal-header
              %button.close{:data => {:dismiss => :modal}} x
              %h3 Logs
            %div.modal-body
              %code= cmd.log
          %center
            = link_to "Show Logs", '#log' + cmd.id.to_s, :data => {:toggle => :modal}, :class => "btn btn-info"
