- content_for :main_menu, 'dashboard'

- content_for :stylesheet_custom do
  = stylesheet_link_tag 'dashboard/common'

%h1.page-title
  %i.icon-home
  Dashboard

.stat-container
  .stat-holder.fourth
    .stat
      %span
        = current_user.keys.count
      = link_to "Key".pluralize(current_user.keys.count), keys_user_path(User.current_user)
    / /stat
  / /stat-holder
  .stat-holder.fourth
    .stat
      %span
        = @hosts.count
      = link_to "Host".pluralize(@hosts.count), hosts_path
    / /stat
  / /stat-holder
  .stat-holder.fourth
    .stat
      %span
        = @host_group.count
      = link_to "Host group".pluralize(@host_group.count), host_groups_path
    / /stat
  / /stat-holder
  .stat-holder.fourth
    .stat
      %span
        // we dont want two redis count requests...
        - count = Cmd.count
        = count
      = link_to "Executed " + "Command".pluralize(count), log_path
    / /stat
  / /stat-holder



-#
  .page-header
  %h1
    Dashboard
    %small
      welcome to 4am !
  %div.fluid-row
  %div.span3.well#user_groups
    %h2= "#{pluralize(current_user.user_group.count, 'User Group')}"
    - current_user.user_group.each do |u|
      %li
        %i.icon-user
        = link_to u.name, u
  %div.span3.well#keys
    %h2= "#{pluralize(current_user.keys.count, 'Key')}"
    - current_user.keys.each do |k|
      %li
        %i.icon-list-alt
        = link_to k.name, k
  %div.span3.well#hosts
    %h2= "#{pluralize(@hosts.count, 'Host & Group')}"
    - @hosts.each do |k|
      %li
        - if k.type == 'HostGroup'
          %i.icon-tags
        - else
          %i.icon-tag
        = link_to k.name, k
