
= form_for @host_group , html: { class: 'form-horizontal' } do |f|

  %fieldset
    
    = render 'layouts/form/errors', elem: @host_group

    .control-group
      = f.label :name, class: "control-label"
      .controls
        = f.text_field :name

    - unless @host_group.id.nil?
      .control-group
        %label.control-label Hosts in group
        .controls
          - @host_group.host.each do |u|
            %li.active
              %b.label
                = u.name
                #{link_to 'x', url_for({:controller => :host_groups, :id => @host_group, :host_id => u, :action => :del_host}), :method => :delete}

      .control-group
        %label.control-label Hosts available
        .controls
          - @hosts.each do |u|
            - unless @host_group.host.include? u
              %li.active
                %b.label.label-success
                  = u.name
                  #{link_to '+', url_for({:controller => :host_groups, :id => @host_group, :host_id => u, :action => :add_host}), :method => :post}

    .form-actions.transparent
      = f.submit 'Save', class: "btn btn-info"

