
= simple_form_for @host_group , html: { class: 'form-horizontal' }, :validate => :true do |f|

  = f.input :name

  #host
    #host_from_list
      = f.simple_fields_for :host do |host|
        = render 'host_fields', :f => host
      = link_to_add_association 'Add host', f, :host, :class => "btn btn-mini btn-success controls"

  .form-actions.transparent
    = f.submit 'Save', class: "btn btn-info"

