
%section#forms
  .page-header
    %h1 Login
  .row
    .span4
      %h2 Connect to the admin space
      %p If you do not wish to connect without your X509 certificate, please use this form
    .span12
      = form_tag sessions_path do
        %fieldset
          %legend Login form
          .clearfix
            = label_tag :login
            .input
              = text_field_tag :login, params[:login], :size => 30
          .clearfix
            = label_tag :pass
            .input
              = text_field_tag :pass, params[:pass], :size => 30
        .actions
          = submit_tag 'Save', :class => "btn primary"
