
= form_for @host, html: { class: 'form-horizontal'} do |f|

  %fieldset
    
    = render 'layouts/form/errors', elem: @host

    .control-group
      = f.label :name, class: 'control-label'
      .controls
        = f.text_field :name
    .control-group
      = f.label :ip, class: 'control-label'
      .controls
        = f.text_field :ip
    .control-group
      = f.label :port, class: 'control-label'
      .controls
        = f.text_field :port
    .control-group
      = f.label :host_tpl_id, class: 'control-label'
      .controls
        = f.text_field :host_tpl_id

    .form-actions.transparent
      = f.submit 'Save', class: "btn btn-info"

