
= simple_form_for @host, html: { class: 'form-horizontal'}, :validate => true do |f|

  = render 'layouts/form/errors', elem: @host

  = f.input :name
  = f.input :ip
  = f.input :port
  = f.input :host_tpl_id, :collection => 1..10

  .form-actions.transparent
    = f.submit 'Save', class: "btn btn-info"

