
= render 'header', type: :list

#hosts

  .widget.widget-table
    .widget-header
      %i.icon-th-list
      %h3
        Host list
  
    .widget-content
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th.id #
            %th Name
            %th Ip
            %th Port
            %th Template
            %th.actions Actions
        %tbody
          - @hosts.each do |host|
            %tr
              %td.id= host.id
              %td= host.name
              %td= host.ip
              %td= host.port
              %td= host.host_tpl_id
              %td.actions
                = render 'layouts/form/list_actions', elem: host

