.page-header
  %h1
    Hosts
    %small
      view host:
      %b= @host.name
      %code= @host.ip

%h3 Groups
- @host.host_group.each do |u|
  %p
    %span.label= link_to u.name, u

%h3 Commands
%p
  = render 'commands/commands'
%h3 Old Commands
%p
  = render 'commands/old_commands'

= link_to 'Edit', edit_host_path(@host), :class => "btn btn-warning"
