
= simple_form_for @user, html: { class: 'form-horizontal' } do |f|

  %fieldset

    = render 'layouts/form/errors', elem: @user

    .control-group
      = f.label :login, class: 'control-label'
      .controls
        = f.text_field :login

    .control-group
      = f.label :email, class: 'control-label'
      .controls
        = f.text_field :email

    .control-group
      = f.label :password, class: 'control-label'
      .controls
        = f.password_field :password

    .control-group
      = f.label :password_confirmation, class: 'control-label'
      .controls
        = f.password_field :password_confirmation

    - if permitted_to? :edit, :roles
      #roles.control-group
        #roles_from_list
          = f.simple_fields_for :roles do |roles|
            = render 'role_fields', :f => roles
          = link_to_add_association 'Add role', f, :roles, :class => "btn btn-mini btn-success controls"

    .form-actions.transparent
      = f.submit 'Save user', class: "btn btn-info"

