
= form_for @user, html: { class: 'form-horizontal' } do |f|

  %fieldset
    
    = render 'layouts/form/errors', elem: @user
   
    .control-group
      = f.label :login, class: 'control-label'
      .controls
        = f.text_field :login

    .control-group
      = f.label :email, class: 'control-label'
      .controls
        = f.text_field :email

    .control-group
      = f.label :password, class: 'control-label'
      .controls
        = f.password_field :password

    .control-group
      = f.label :password_confirmation, class: 'control-label'
      .controls
        = f.password_field :password_confirmation

    - if permitted_to? :edit, :roles
      -unless @user.id.nil?
        .control-group
          = f.label 'User Roles', class: 'control-label'
          .controls
            = render 'role_list'
      -unless @user.id.nil?
        .control-group
          = f.label 'Add Roles', class: 'control-label'
          .controls
            = render 'available_role_list'

    .form-actions.transparent
      = f.submit 'Create user', class: "btn btn-info"

