
= simple_form_for @user, html: { class: 'form-horizontal' }, :validate => true do |f|

  = f.input :login, :validate => {:length => {:minimum => 3}}

  = f.input :email

  = f.input :password, :validate => {:length => {:minimum => 4}}

  = f.input :password_confirmation

  - if permitted_to? :edit, :user_groups
    - current_groups = @user.user_group.map{|u| "#{u.id}" }.to_json
    = f.input :user_group, :input_html => {:data => {:val => current_groups}, :class => :span3, :multiple => true}, :collection => @groups

  - if permitted_to? :edit, :roles
    - current_role = @user.roles.map{|u| "#{u.id}" }.to_json
    = f.input :roles, :input_html => {:data => {:val => current_role}, :class => :span3, :multiple => true}, :collection => @roles

  .form-actions.transparent
    = f.submit 'Save user', class: "btn btn-info"

