
= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]

%table.table.table-striped.table-condensed.table-bordered
  %tbody
    %tr
      %th= sortable 'login'
      %th Keys
      %th Actions

    - @users.each do |user|
      %tr
        %td
          %code= user.login
        %td
          %a{ href: keys_user_path(user) }
            %span.badge.badge-info= user.keys.count
        - if permitted_to? :show, user
          %td
            - if permitted_to? :show, user
              = link_to 'Show', user, class: "btn btn-mini btn-info"
            - if permitted_to? :edit, user
              = link_to 'Edit', edit_user_path(user), class: "btn btn-mini btn-warning"
            - if permitted_to? :destroy, user
              = link_to 'Delete', user, method: :delete, class: "btn btn-mini btn-danger"

= will_paginate @users

