
- include_related_js

= render 'header', type: :list


= form_tag users_path, :method => 'get', :id => 'users_search', :remote => true do

  = hidden_field_tag :direction, params[:direction]
  = hidden_field_tag :sort, params[:sort]

  .widget.widget-table
    .widget-header
      %i.icon-th-list
      %h3
        User list
      .search.input-append
        = text_field_tag :search, params[:search], class: 'span2'
        %button.btn{:type => :submit}
          %i.icon-search


    .widget-content
      #users
        = render "users"
