
.page-header
  %h1
    Users
    %small
      list all the users

= form_tag users_path, :method => 'get', :id => 'users_search' do
  %p
    = text_field_tag :search, params[:search]
    = submit_tag 'Search', :name => nil, class: 'btn btn-primary'
  #users
    = render 'users'

%br

= link_to 'Add a new user', new_user_path, class: 'btn btn-success'
