// FIXME should be merged with app/views/keys/index.html.haml
.page-header
  %h1
    SSH Key
    %small
      list all your registered keys
    %a{ href: new_key_path, class: 'btn btn-success' } 
      %i.icon-white.icon-plus-sign
      New key

%table.table.table-striped.table-condensed.table-bordered
  %tbody
    %tr
      %th Name
      %th Type
      %th Value

    - @keys.each do |key|
      %tr
        %td.key_name
          %code= key.name
          = link_to 'Edit', edit_key_path(key), :class => "btn btn-mini btn-warning"
          = link_to 'Delete', key, :method => :delete, :class => "btn btn-mini btn-danger"
        %td.key_type
          = key.keytype
        %td.key_value
          %pre= key.value

