
%h2 Add a user

%br

= form_for @user do |f|
  -if @user.errors.any?
    .alert-message.error
      %p
        %strong= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
        %ul
          - @user.errors.full_messages.each do |msg|
            %li
              %p= msg
  
  .clearfix.field
    = f.label :login
    .input
      = f.text_field :login  

  .clearfix.field
    = f.label :password
    .input
      = f.password_field :password  

  .clearfix.field
    = f.label :password_confirmation
    .input
      = f.password_field :password_confirmation

  .actions
    = f.submit 'Submit', :class => "btn success"


= link_to 'Back', users_path, :class => "btn"
