
.page-header
  %h1
    Users
    %small
      more information on
      %code= @user.login


%form.form-horizontal
  %fieldset

    .control-group
      %label.control-label Login
      .controls
        %span.input-xlarge.uneditable-input= @user.login

    .control-group
      %label.control-label Password
      .controls
        %span.input-xlarge.uneditable-input (hidden)
    .control-group
      %label.control-label Groups
      .controls
        - @user.user_group.each do |u|
          %li
            %b.label= link_to u.name, u
    .control-group
      %label.control-label Roles
      .controls
        = render 'role_list'
    - if permitted_to? :edit, @user
      .control-group
        %label.control-label API Token
        .controls
          %code= @user.single_access_token

    - if permitted_to? :edit, @user
      .form-actions
        = link_to 'Edit', edit_user_path(@user), :class => "btn btn-warning"

