= form_for @key, html: { class: 'form-horizontal' } do |f|
  -if @key.errors.any?
    #error_explanation
      %h2= "#{pluralize(@key.errors.count, "error")} prohibited this key from being saved:"
      %ul
        - @key.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label :name
    .controls
      = f.text_field :name
  .control-group
    = f.label :value
    .controls
      = f.text_field :value
  .control-group
    = f.label :user
    .controls
      = f.text_field :user

  .form-actions
    = f.submit 'Save', :class => "btn btn-success"
