
= form_for @key, html: { class: 'form-horizontal' } do |f|

  -if @key.errors.any?
    .control-group
      .alert.alert-error
        %a.close{href: "#", data:{ dismiss:'alert' }} ×
        %h4.alert-heading= "#{pluralize(@key.errors.count, "error")} prohibited this key from being saved:"
        %ul
          - @user.errors.full_messages.each do |msg|
            %li
              %p= msg
  
  .control-group
    = f.label :name, class: 'control-label' 
    .controls
      = f.text_field :name, class: 'input-xxlarge'

  .control-group
    = f.label :value, class: 'control-label' 
    .controls
      = f.text_area :value, class: 'input-xxlarge'

  .form-actions
    = f.submit 'Save', class: "btn btn-info"

