
.new_key
  = form_for @key, html: { class: 'form-horizontal' } do |f|

    = render 'layouts/form/errors', elem: @key

    .nk

      .nk_block
        .nk_content1

          %h3 By copy-pasting

          .alert.alert-info
            The format of the key should be
            %code ssh-[type] AAAAB3NzaC1yc2E... name?

          = f.text_area :ssh_key, class: 'input-xlarge'

      .nk_block
        .nk_content2

          %h3 By uploading it

          .alert.alert-info
            Just select the key on your filesystem

          %label
            %i.icon-upload
            = f.file_field :ssh_key, class: 'input-file'

    %br

    .control-group
      = f.label :name, class: 'control-label' 
      .controls
        = f.text_field :name, class: 'input-xxlarge', placeholder: 'This is only used to help you differentiate your keys.'
        %p.help-box 

    //FIXME We should add a field to choose to which user the key is associated depending of the privileges
    .form-actions
      = f.submit 'Add the new key', class: "btn btn-info"
