

#keys

  .widget.widget-table
    .widget-header
      %i.icon-th-list
      %h3
        Keys list
    -#
      .search.input-append
        //%input.span2{:size => "16", :type => "text"}
        = text_field_tag :search, params[:search], class: 'span2'
        %a.btn{ :href => "javascript:users_search.submit()" }
          %i.icon-search
  
    .widget-content
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th #
            %th Name
            %th Value
            %th Actions

        %tbody
          - @keys.each do |key|
            %tr
              %td= key.id
              %td= key.name
              %td
                %pre{ style: 'word-wrap: break-word; '}
                  = key.value

              %td.action-td

                // Edit
                %a.btn.btn-small.btn-warning{ :href => url_for(edit_key_path(key)) }
                  %i.icon-edit

                // Delete
                = link_to key, method: :delete, class: "btn btn-small btn-danger"} do
                  %i.icon-remove

                // X509
                %a.btn.btn-small{ href: x509_key_path(key) }
                  x509

                // Pkcs12
                %a.btn.btn-small{ href: pkcs12_new_key_path(key) }
                  pkcs12

