
.page-header
  %h1
    SSH Key
    %small
      list all your registered keys

%table.table.table-striped.table-bordered.table-condensed
  %tr
    %th Name
    %th Value
    %th Actions

  - @keys.each do |key|
    %tr
      %td= key.name
      %td= key.value
      %td
        = link_to 'Edit', edit_key_path(key), :class => "btn btn-small btn-warning"
        = link_to 'Delete', key, :method => :delete, :class => "btn btn-small btn-danger"

%br

= link_to 'Add another public key', new_key_path, :class => "btn btn-success"
