
#add_acl_form

  - rights = %w{Read Edit Exec Sudo}
  %div
    = simple_form_for @new_acl, :url => {:controller => :host_acls, :action => :create}, :remote => true, html: { class: 'form-horizontal'} do |f|
      #errors
        = render "acl_errors"

      = f.hidden_field :user_id, :value => ""
      = f.hidden_field :user_type, :value => ""
      = f.hidden_field :host_type, :value => ""
      = f.hidden_field :host_id, :value => ""

      = f.input :hosts, :collection => @hosts, :input_html => {:class => :span4}, :group_label_method => 'first.type', :as => :grouped_select, :group_method => :to_a, :value_method => :acl_id

      = f.input :users, :collection => @users, :input_html => {:class => :span4}, :group_label_method => 'first.type', :as => :grouped_select, :group_method => :to_a, :value_method => :acl_id

      = f.input :type, :collection => rights, :as => :radio

      .form-actions.transparent
        = f.submit 'Create Acl', class: "btn btn-info"

