
= render 'hosts/header', type: :acl

-# content_for :javascript_custom do
  = javascript_include_tag 'host_acls'

-# content_for :stylesheet_custom do
  = stylesheet_link_tag 'hosts_acls/common'

#acl

  - if permitted_to? :create, :host_acls
    .widget.widget-table
      .widget-header
        %i.icon-plus
        %h3
          Add ACL
    
      .widget-content
        = render 'form'


  .widget.widget-table
    .widget-header
      %i.icon-th-list
      %h3
        ACL list
  
    .widget-content
      = render 'acl_list'

