.page-header
  %h1
    Hosts
    %small
      view host:
      %b= @machine.name
      %code= @machine.ip
%h3 Commands
%p
  = render 'commands/commands'
%h3 Old Commands
%p
  = render 'commands/old_commands'

= link_to 'Edit', edit_machine_path(@machine), :class => "btn btn-warning"
