%p#notice= notice

%p
  %b Name:
  = @machine.name
%p
  %b Ip:
  = @machine.ip
%p
  %b Machine tpl:
  = @machine.machine_tpl_id

%h3 Commands
%p
  = render 'commands/commands'
%h3 Old Commands
%p
  = render 'commands/old_commands'

= link_to 'Edit', edit_machine_path(@machine)
\|
= link_to 'Back', machines_path
