= form_for @command, html: { class: 'form-horizontal' }  do |f|

  = render 'layouts/form/errors', elem: @command

  .control-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :name
  .control-group
    = f.label :command, class: 'control-label'
    .controls
      = f.text_area :command, class: 'input-xxlarge'

  .form-actions.transparent
    = f.submit 'Save', class: "btn btn-info"

