
= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]

= link_to 'Clear all finished commands', {:controller => :cmd, :host_id => @host, :action => :clear}, class: "btn btn-mini btn-warning"

%table.table.table-striped.table-condensed.table-bordered
  %tbody
    %tr
      %th Command Name
      %th Command
      %th Status
      %th Status Code
      %th Executed
    - @old_command.each do |cmd|
      %tr
        %td
          = popover(:a, [], cmd.command.name, 'Log', cmd.log, command_path(cmd.command.id))
          = link_to 'delete', host_cmd_path(@host, cmd.id), :method => :delete, class: "btn btn-mini btn-danger pull-right"
          = link_to 'stop', host_cmd_path(@host, cmd.id), :method => :put, class: "btn btn-mini btn-warning pull-right"
        %td
          %center
            = popover(:code, [], cmd.script, 'Log', cmd.log)
        %td
          %center
            = popover(:span, %w{label label-info}, cmd.status, 'Log', cmd.log)
        %td
          %center
            - if cmd.status_code.nil?
              = popover(:span, %w{badge badge}, '-', 'Log', cmd.log)
            - elsif cmd.status_code == 0
              = popover(:span, %w{badge badge-success}, cmd.status_code, 'Log', cmd.log)
            - elsif cmd.status_code > 0
              = popover(:span, %w{badge badge-warning}, cmd.status_code, 'Log', cmd.log)
        %td
          %center
            = cmd.time
