%p#notice= notice

Executing command
%p
  %b Host:
  = @machine.name
%p
  %b Ip:
  = @machine.ip
%p
  %b Name:
  = @command.name
%p
  %b Command:
  = @command.command

= link_to 'Edit', edit_command_path(@command)
\|
= link_to 'Back', commands_path
