
= render 'header', type: :commands_list


#commands

  .widget.widget-table
    .widget-header
      %i.icon-th-list
      %h3
        Commands list
  
    .widget-content
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th #
            %th Name
            %th Command
            %th Actions

        %tbody
          - @commands.each do |cmd|
            %tr
              %td= cmd.id
              %td= cmd.name
              %td
                %code= cmd.command
              %td.action-td
                - if permitted_to? :show, cmd
                  %a.btn.btn-small.btn-info{ href: cmd }
                    %i.icon-eye-open

                - if permitted_to? :edit, cmd
                  %a.btn.btn-small.btn-warning{ href: edit_command_path(cmd) }
                    %i.icon-edit

                - if permitted_to? :destroy, cmd
                  = link_to cmd, { data: { confirm: 'Are you sure?', method: :delete }, class: "btn btn-small btn-danger"} do
                    %i.icon-remove

