.page-header
  %h1
    Commands
    %small
      list all the commands
    - if permitted_to? :new, :commands
      %a{ href: new_command_path, class: 'btn btn-success' }
        %i.icon-white.icon-plus-sign
        New Command
%table.table.table-striped.table-condensed.table-bordered
  %tr
    %th Name
    %th Command
    %th Action

  - @commands.each do |command|
    %tr
      %td= command.name
      %td
        %code= command.command
      %td
        - if permitted_to? :show, command
          = link_to 'Show', command, class: "btn btn-mini btn-info"
        - if permitted_to? :edit, command
          = link_to 'Edit', edit_command_path(command), class: "btn btn-mini btn-warning"
        - if permitted_to? :destroy, command
          = link_to 'Destroy', command, :confirm => 'Are you sure?', :method => :delete, class: "btn btn-mini btn-danger"
