
-# content_for :stylesheet_custom do
  = stylesheet_link_tag 'commands/index'

= render 'header', type: :commands_list

#commands

  .widget.widget-table
    .widget-header
      %i.icon-th-list
      %h3
        Commands list
  
    .widget-content
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th.id #
            %th Name
            %th Command
            %th.actions Actions

        %tbody
          - @commands.each do |cmd|
            %tr
              %td.id= cmd.id
              %td= cmd.name
              %td
                %code= cmd.command
              %td.actions
                = render 'layouts/form/list_actions', elem: cmd

