<!DOCTYPE html>

%html{html_attrs}

  %head
    %meta{"http-equiv"=>"Content-type", :content=>"text/html;charset=utf-8"}
    %title 4am

    = stylesheet_link_tag    "app"
    = yield :stylesheet_custom

    %link{ rel: "shortcut icon", href: image_path("favicon.png"), type: "image/x-icon" }

    = csrf_meta_tags 

  %body

    #main

      .navbar.navbar-fixed-top{"data-scrollspy" => "scrollspy"}
        .navbar-inner
          .container
            %a.brand{href: "/"}

            = render file: 'layouts/menu'

            - if current_user
              %div.logout.btn-group
                %a.btn.btn-inverse{ href: user_path(current_user)}
                  %i.icon-white.icon-user
                  = current_user.login.capitalize
                %a.btn.btn-inverse.dropdown-toggle{ href: '#', :data => {:toggle => "dropdown"}}
                  %span.caret
                %ul.dropdown-menu
                  %li
                    %a{ href: keys_user_path(current_user) }
                      %i.icon.icon-key
                      My Keys
                  %li
                    %a{ href: logout_path }
                      %i.icon-off
                      Logout

      .container.content
        .row
          .span12

            - if flash[:notice]
              #flash_warning.alert
                %a.close{href: "#", data:{ dismiss:'alert' }} ×
                %strong= flash[:notice]

            - if flash[:error]
              #flash_error.alert.alert-error
                %a.close{href: "#", data:{ dismiss:'alert' }} ×
                %strong= flash[:error]

            = yield

  = javascript_include_tag "application"

