<!DOCTYPE html>

%html{html_attrs}

  %head
    %meta{"http-equiv"=>"Content-type", :content=>"text/html;charset=utf-8"}
    %title 4am

    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"

    %link{ rel: "shortcut icon", href: image_path("favicon.png"), type: "image/x-icon" }

    //= csrf_meta_tags 

  %body

    #main

      .topbar{"data-scrollspy" => "scrollspy"}
        .topbar-inner
          .container
            %a.brand
            %ul.nav
              %li.dropdown
                %a.dropdown-toggle{:data => { :toggle => "dropdown"}} Users
                %ul.dropdown-menu
                  %li Action
                  %li Another action
                  %li Something else
                  %li.divider
                  %li Sep link
              %li
                %a{:href => "#about"} About
      

      .container.well{style: 'padding-top:60px;'}

        - if flash[:notice]
          .alert-message.warning
            %a.close{href: "#"} ×
            %p
              %strong= flash[:notice]
  
        - if flash[:error]
          .alert-message.error
            %a.close{href: "#"} ×
            %p
              %strong= flash[:error]


        = yield

