!!! 5

%html{html_attrs}

  %head
    %title 4am

    %meta{ "http-equiv" => "Content-type", :content => "text/html;charset=utf-8" }

    = stylesheet_link_tag    "application"
    -# yield :stylesheet_custom

    = javascript_include_tag "application"
    -# yield :javascript_custom

    %link{ rel: "shortcut icon", href: image_path("favicon.png"), type: "image/x-icon" }

    = csrf_meta_tags 

  %body

    #main

      .navbar.navbar-fixed-top{ "data-scrollspy" => "scrollspy" }
        .navbar-inner
          .container
            %a.brand{href: "/"}

            = render partial: 'layouts/menu'


      .container.content
        .row
          .span12

            = render partial: 'layouts/alert'

            = yield

