%li.dropdown.icon.icon_user
  %a.dropdown-toggle{data: { toggle: "dropdown"}}
    Users
    %b.caret
  %ul.dropdown-menu
    %li
      = link_to 'List', user_path, class: 'icon icon_list'
    %li
      = link_to 'Add', new_user_path, class: 'icon icon_plus'
    %li
      = link_to 'Group', user_path, class: 'icon icon_group'
    %li.divider
    %li
      = link_to 'Keys', key_path, class: 'icon icon_key'

%li.dropdown.icon.icon_machine
  %a.dropdown-toggle{data: { toggle: "dropdown"}}
    Machines
    %b.caret
  %ul.dropdown-menu
    %li
      = link_to 'List', user_path, class: 'icon icon_list'
    %li
      = link_to 'Add', new_user_path, class: 'icon icon_plus'
    %li
      = link_to 'Group', user_path, class: 'icon icon_group'

%li.dropdown.icon.icon_tpl
  %a.dropdown-toggle{data: { toggle: "dropdown"}}
    Templates
    %b.caret
  %ul.dropdown-menu
    %li
      = link_to 'Add', user_path(@user), class: 'icon icon_plus'
    %li
      %a.icon.icon_list List

%li.dropdown.icon.icon_status2
  %a.dropdown-toggle{data: { toggle: "dropdown"}}
    Status
